
body {
    background: #EEEEEE;
    
    line-height: 1.4;

    margin: 40px 0;
  }

body{
margin: auto;
padding: 40px;
max-width: 800px;
background-color: white;
}




.title1{
    font-size: 30px;
}

.FBSL{
    padding: 40px 0;
}